@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&display=swap");

.NavText {
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Open Sans"; */
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 75%;
}

.Number {
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Open Sans"; */
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 400%;
  color: #093b66;
}

.titlediv {
  text-align: left;
}

.description {
  font-family: "Gentium Book Basic";
}

.buttonText {
  font-family: "Open Sans", sans-serif;
  font-weight: 1000;
  letter-spacing: 1px;
  font-size: 70%;
}

.whatwedo {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 450%;
  letter-spacing: 1px;
  color: #050340;
  /* color:#090859; */
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 1000;
  font-size: 290%;
  color: #c6c6c6;
}

.titledescription {
  font-family: "Gentium Book Basic";
  font-weight: 700;
  color: #909091;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HomeBackground {
  background-image: url("./assets/top\ half\ background.png");
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.service-border {
  border-left:10px solid #093b66;
}

.service-container {
  -webkit-transition: color 0.2s ease-out;
 -moz-transition: color 0.2s ease-out;
 -o-transition: color 0.2s ease-out;
 -ms-transition: color 0.2s ease-out;
 transition: color 0.2s ease-out;
 transition: 0.2s ease-out;
}

.service-container.expand .Number {
  color: #2ea3f2;
}


.service-container.expand .service-border {
  border-left:10px solid #2ea3f2;
}

.expand .service-container{
  transform: scale(1.2);
}

.greyout .service-container{
  filter: grayscale(80%);
}

.mainbackground {
  background-image: url("./assets/2D1 copy.jpg");
  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  transition: 0.1s;
}

.mainbackground.div1 {
  background-image: url("./assets/div1.png");
}

.mainbackground.div2 {
  background-image: url("./assets/div2.png");
}

.mainbackground.div3 {
  background-image: url("./assets/div3.png");
}

.mainbackground.div4 {
  background-image: url("./assets/div4.png");
}

.mainbackground.div5 {
  background-image: url("./assets/div5.png");
}

