.footerbar {
    display: flex;
    background-image: url('../graphics1.png');
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 80%;
}



.noHover{
    pointer-events: none;
}

.list-unstyled {
    font-family: "Gentium Book Basic";
    font-weight: 700;
    color: #909091;
}
  
