.footerbar {
    display: flex;
    background-color:rgb(2, 0, 63);
    width:100%;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 80%;
}



.noHover{
    pointer-events: none;
}

.list-unstyled {
    font-family: "Gentium Book Basic";
    font-weight: 700;
    color: #909091;
}
  
